<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Flipkart Suite">
  <test name="Test Basics 1">
      <classes>
      
      <!--  package name="FlipkartDemo.FlipkartFlow">-->
            <class name="FlipkartDemo.FlipkartFlow.Demo"/>
     
      
      </classes>
  </test> <!-- Test --> 
</suite> <!-- Suite -->